* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}