.header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.975);
}

.header .header__wrapper{
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;

}

.header__link .header__logo{
    width: 100px;
}

.header__wrapper .header__icon-list{
    display: flex;
    font-size: 20px;
}

.header__icon-list .header__icon{
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.7);
}